{% extends 'web/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}


{% block content %}
{% include "web/partials/header2.html" %}

<section class="explore pb-0">
  <div class="container">
    <div class="row exx inter">


      <div class="col-12 smsm">
        <p>Hello, Username <span><i class="icofont-hand" style="color: #cfcc1e;"></i></span></p>
      </div>
    </div>
    <div class="col-6 hrr d-none  ">

    </div>
    <div class="row inter kert justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-10 col-11 exxd">
        <ul class="d-flex justify-content-center p-0">
          <li> <a href="{% url 'web:myprofile' %}">My Profile </a></li>
          <li> <a href="{% url 'web:partnerpref' %}">Partner Preferences </a></li>
          <li> <a href="{% url 'web:addphotos' %}">Add Photos</a></li>
          <li> <a class="activee" href="{% url 'web:changepass' %}">Change Password</a></li>

        </ul>
      </div>
    </div>


  </div>
</section>





<div class="container mt-5">
  <div class="row place-content-center">

    <div class="col-lg-8">

      <form action="" name="password_reset">
        <div class="mb-3 row chanpas">
          <label for="inputPassword" class="col-lg-4 col-md-5 col-sm-6 col-form-label">Enter Old Password : </label>
          <div class="col-sm-6">
            <input type="password" class="form-control" id="inputPassword" name="inputPassword">
            <p class="error" id="error"></p>
          </div>
        </div>

        <div class="mb-3 row chanpas">
          <label for="inputPassword" class="col-lg-4 col-md-5 col-sm-6 col-form-label">Enter New Password : </label>
          <div class="col-sm-6">
            <input type="mew" class="form-control" id="newpass" name="newpass">Use a Strong password
          </div>
        </div>


        <div class="mb-3 row chanpas">
          <label for="inputPassword" class="col-lg-4 col-md-5 col-sm-6 col-form-label">Re Enter New Password : </label>
          <div class="col-sm-6">
            <input type="password" class="form-control" id="newpassconf" name="newpassconf">
          </div>
        </div>

        <div class="col-12 text-center">
          <button class="btn mt-4" type="submit">Save Changes</button>
        </div>
      </form>


    </div>

  </div>
</div>



{% include "web/partials/mobilefooter.html" %}



{% endblock %}
{% block javascript %}
<script src="{% static 'web/js/getmachedprofiles.js' %}"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.0/jquery.validate.min.js"></script>


<script src="{% static 'web/js/header.js' %}"></script>
<script src="{% static 'web/js/resetpassword.js' %}"></script>
{% endblock %}