

    

{% extends 'web/base.html' %}
{% load static %}
{% block title %}Chat{% endblock %}


{% block content %}
{% include "web/partials/header2.html" %}
    
    
    
    <section class="explore pb-5">
      <div class="container">
          <div class="row exx chat">
              <div class="col-1 text-right">
                <i style="color: #3acf6e;" class="icofont-ui-text-chat"></i>
            
              </div>
              <div class="col-11 ">
                <p>Messages</p> 
              </div>
          </div>
          
      </div>
    </section>

    <div class="container pager">
        <div class="row member">


        <div class="col-12">
            <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-12" id="chatsList">
                
                
                <div class="row chattt">

                    <div class="col-3 imgct"><img class="chatimg" src="{% static 'web/image/profile.jpg'%}" alt=""></div>
                    <div class="col-6 sacti"><h4 class="mb-1">KM1011201</h4> <p>You : Where place?</p></div>
                    <div class="col-3 acti"><p>2min ago</p><div id="do" class="d-none"><span class="do" ></span> Active now</div></div>
                    

                    </div>

                    <div class="row chattt">
                        <div class="col-3 imgct"><img class="chatimg" src="{% static 'web/image/profile.jpg'%}" alt=""></div>
                        <div class="col-6 sacti"><h4 class="mb-1">KM1011201</h4> <p>You : Where place?</p></div>
                        <div class="col-3 acti"><p>2min ago</p></div>
                        </div>
                        <div class="row chattt">
                            <div class="col-3 imgct"><img class="chatimg" src="{% static 'web/image/profile.jpg'%}" alt=""></div>
                            <div class="col-6 sacti"><h4 class="mb-1">KM1011201</h4> <p>You : Where place?</p></div>
                            <div class="col-3 acti"><p>2min ago</p></div>
                            </div>
                            <div class="row chattt">
                                <div class="col-3 imgct"><img class="chatimg" src="{% static 'web/image/profile.jpg'%}" alt=""></div>
                                <div class="col-6 sacti"><h4 class="mb-1">KM1011201</h4> <p>You : Where place?</p></div>
                                <div class="col-3 acti"><p>2min ago</p></div>
                                </div>
                                <div class="row chattt">
                                    <div class="col-3 imgct"><img class="chatimg" src="{% static 'web/image/profile.jpg'%}" alt=""></div>
                                    <div class="col-6 sacti"><h4 class="mb-1">KM1011201</h4> <p>You : Where place?</p></div>
                                    <div class="col-3 acti"><p>2min ago</p></div>
                                    </div>
                
            </div>

            <div class="col-lg-8 col-md-7" id="activ">
                <div class="row">
                    <div class="col-12 ml-2 now" id="nmID">
                        <h4 class="mb-1" >KM1011201 <span class="float-right"> <span class="do"></span> Active now</span></h4> <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
                    </div>
                    <div class="col-12 ml-2 screen" id="Chats">
                        <p class="time">Oct 12, 2021, 12:12 AM</p>

                        <div class="col-12 sender pt-3"><p><img src="{% static 'web/image/profile.jpg'%}" style="width: 5%; border-radius: 50%;" alt=""> <span class="ml-2">Hi</span> </p> </div>
                        <div class="col-12 sender pt-3"><p><img src="{% static 'web/image/profile.jpg'%}" style="width: 5%; border-radius: 50%;" alt=""> <span class="ml-2">Hello  </span> </p> </div>
                        
                        <div class="col-12 reciever pt-3"><p> <span class="ml-2">Hi, Hello  </span> <img src="{% static 'web/image/profile.jpg'%}" style="width: 5%; border-radius: 50%;" alt="">  </p> </div>
                        <div class="col-12 reciever pt-3"><p> <span class="ml-2">How are you  </span> <img src="{% static 'web/image/profile.jpg'%}" style="width: 5%; border-radius: 50%;" alt="">  </p> </div>
                        <div class="col-12 reciever pt-3"><p> <span class="ml-2">Hi, Hello  </span> <img src="{% static 'web/image/profile.jpg'%}" style="width: 5%; border-radius: 50%;" alt="">  </p> </div>
                        <div class="col-12 reciever pt-3"><p> <span class="ml-2">Hi, Hello  </span> <img src="{% static 'web/image/profile.jpg'%}" style="width: 5%; border-radius: 50%;" alt="">  </p> </div>

                        
                    </div>


                    <div class="col-12 ml-2">
                        <form>
                            {% csrf_token %}
                        <div class="col-12 msgg pt-4 pb-3"> <input type="text" id="typedMessage" placeholder="Start to type a message..."> </div>
    
                        </form>
                    </div>
                    
                        
                </div>
            </div>

        </div>
        </div>    
            
            

            

        </div>
    </div>

    <div class="container-fluid d-none" id="chatnav">
        <div class="row">
            <div class="col-sm-12">
                <nav class="nav-menu iconn">
                    <ul>
                      <li><a href="#"><i class="icofont-binoculars mr-2"></i>Explore</a></li>
                      <li class="active"><a href="#about"><i class="icofont-ui-text-chat mr-2"></i>Chat</a></li>
                      <li><a href="#portfolio"><i class="icofont-ui-love-add mr-2"></i>Interests</a></li>
                      
                      
                      <li id="userna"><a href="#features"><i class="icofont-ui-user ml-2"></i></a></li>
                    </ul>
                  </nav>
            </div>
        </div>

    </div>

      
      

        
    {% endblock %}
    {% block javascript %}
    <script src="{% static 'web/js/chatstodashboard.js' %}"></script>
    <script src="{% static 'web/js/messages.js' %}"></script>
    {% endblock %}
