{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nikah Malabar | Home</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <link href="{% static 'web/image/favicon.png' %}" rel="icon">

    <link href="{% static 'web/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'web/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'web/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'web/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'web/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'web/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'web/aos/aos.css' %}" rel="stylesheet">

    <link href="{% static 'web/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/responsive.css' %}" rel="stylesheet">

</head>
<body>
    
    {% include "web/partials/header2.html" %}

    <section class="explore dinee pb-0 mobcd">
      <div class="container">
          <div class="row exx dine">
              <div class="col-1">
                <i style="color: #3acf6e;" class="icofont-binoculars"></i>
            
              </div>
              <div class="col-11 ">
                <p>Explore profiles</p> 
              </div>
          </div>
          <div class="row">
              
              <div onclick="modify()" class="col-lg-4 col-md-6 col-sm-7 col-9">
                <div class="row mod curs">
                    <div class="col-1">
                        <i class="icofont-listine-dots"></i>
                    </div>

                    <div class="col-9">
                        <p>Advanced Search</p>
                    </div>
                    <input type="hidden" name="search" id="search" value="{{search}}">
                </div>
              </div>

              <div class="col-lg-4 col-1">

              </div>

              <div class="col-lg-4 col-md-5 col-sm-4 col-1 d-none">
                <ul class="pager d-flex mt-4 ulsm">  
                    <li><a href="#"><i class="icofont-ui-previous mr-2"></i>Previous</a></li>  
                    <li><input type="text" placeholder="10"></li>
                    <li><a href="#">Next<i class="icofont-ui-next ml-2"></i></a></li>  
                  </ul>
              </div>
          </div>
      </div>
    </section>

    <div class="container pager" style="margin-top: 35px;">
      <form>
        {% csrf_token %}
        <div  class="row member" id="membersList">

    </div>
    </form>
    </div>

      
    {% include "web/partials/mobilefooter.html" %} 

    {% include "web/partials/footer.html" %}
    


    
    <script src="{% static 'web/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'web/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'web/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'web/php-email-form/validate.js' %}"></script>
    <script src="{% static 'web/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'web/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'web/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'web/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'web/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'web/aos/aos.js' %}"></script>
    <script src="{% static 'web/js/header.js' %}"></script>
    <script src="{% static 'web/js/loadheader.js' %}"></script>
    <script src="{% static 'web/js/preferenceupdate.js' %}"></script>
    <script src="{% static 'web/js/getprofiles.js' %}"></script>
    <script src="{% static 'web/js/profileselect.js' %}"></script>
    
    <script src="{% static 'web/js/loadheader.js' %}"></script>
  

  

  <!-- Template Main JS File -->
  <script src="{% static 'web/js/main.js' %}"></script>

  <script src="{% static 'web/js/header.js' %}"></script>

  <script src="{% static 'web/js/createchatandmessage.js' %}"></script>

  {% block javascript %}
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.0/jquery.validate.min.js"></script>
  
  {% endblock %}
</body>
</html>