{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nikah Malabar | Home</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

  <link href="{% static 'web/image/favicon.png' %}" rel="icon">

  <link href="{% static 'web/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'web/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'web/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'web/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'web/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'web/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'web/aos/aos.css' %}" rel="stylesheet">

  <link href="{% static 'web/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'web/css/responsive.css' %}" rel="stylesheet">

</head>

<body>

  {% include "web/partials/header2.html" %}

  <section class="exploore">

    <div class="container">
      <div class="row mb-80">

        <div class="col-lg-3 col-md-4 d-sm-none d-md-block">


          <div class="left-panel">

            <section class="person">

                    


              <div class="inner">

                <a class="float-left" href="#">
                  <img class="hei-pro" width="50px" id="LogedInUserImage" alt="">
                </a>

                <h6 id="LogedInUserName"></h6>
                <h6 id="LogedInUserNMID"></h6>

              </div>
              <a href="{% url 'web:myprofile' %}" class="link">My Profile<span class="float-right"><i
                    class="icofont-arrow-right"></i></span> </a>
              <a href="{% url 'web:partnerpref' %}" class="link">Partner Preferences<span class="float-right"><i
                    class="icofont-arrow-right"></i></span> </a>
              <a href="{% url 'web:addphotos' %}" class="link">Edit Photo<span class="float-right"><i
                    class="icofont-arrow-right"></i></span> </a>
              <a href="{% url 'web:modify' %}" class="link">Advance Search<span class="float-right"><i
                    class="icofont-arrow-right"></i></span> </a>
              
              <a href="#" id="logout" class="link">Logout<span class="float-right"><i class="icofont-power"></i></span> </a>
            </section>

            <div class="form-group has-search m-0">
              <span class="icofont-search form-control-feedback"></span>
              <input type="text" class="form-control" placeholder="NMID Search" id="searchbox">
            </div>

            <div class="get-prem">
              <img class="mb-4" width="50px" src="{% static 'web/image/king.png' %}" alt="">
              <div class="titkl"> <i class="icofont-rocket text-white mr-2"></i>  PREMIUM MEMBERSHIP</div>

              <ul>
                <li><i class="icofont-safety"></i><span>Feature 1</span></li>
                <li><i class="icofont-safety"></i><span>Feature 2</span></li>
                <li><i class="icofont-safety"></i><span>Feature 3</span></li>
              </ul>

              <button class="btn">UPGRADE NOW</button>
            </div>

            <div class="offr">
              {% for offer in offer %}
              <img width="100%" src="{{offer.image.url}}" alt="">
              {% endfor %}
            </div>

          </div>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-12 col-12 col-pad-md">
          <div class="right-panel">
            <div class="expro">
              <h4>EXPLORE PROFILE</h4>
            </div>
            <div class="container pager" style="margin-top: 35px;">
              <div  class="row member" id="membersList">
      
          </div>
          </div>

    
          </section>    
    
   


  {% include "web/partials/mobilefooter.html" %}

  {% include "web/partials/footer.html" %}



  <script src="{% static 'web/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'web/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'web/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'web/php-email-form/validate.js' %}"></script>
  <script src="{% static 'web/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'web/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'web/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'web/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'web/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'web/aos/aos.js' %}"></script>
  <script src="{% static 'web/js/header.js' %}"></script>
  <script src="{% static 'web/js/loadheader.js' %}"></script>
  <script src="{% static 'web/js/preferenceupdate.js' %}"></script>
  <script src="{% static 'web/js/getprofiles.js' %}"></script>
  <script src="{% static 'web/js/profileselect.js' %}"></script>
  <script src="{% static 'chatbox/js/create-or-get-chat.js' %}"></script>

  <script src="{% static 'web/js/loadheader.js' %}"></script>
  
  <script>
    $("#buttonn").click(function () {
      $("#buttonn").toggleClass('heartt-clicked');
    }); 
  </script>



  <!-- Template Main JS File -->
  <script src="{% static 'web/js/main.js' %}"></script>

  <script src="{% static 'web/js/header.js' %}"></script>
<script src="{% static 'web/js/createchatandmessage.js' %}"></script>
  

  {% block javascript %}
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.0/jquery.validate.min.js"></script>

  {% endblock %}
</body>

</html>