{% extends 'web/base.html' %}
{% load static %}
{% block title %}Index{% endblock %}

{% block content %}






      <!-- ======= Hero Section ======= -->
      <section id="hero" >
        <div class="container-fluid">
        <div class="row">
            
        <div class="col-lg-4 col-md-9 col-sm-9 col-9">
            <div class="row no">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 relats">
                    <img src="{% static 'web/image/number1.png' %}" alt="">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h4>Muslim Matrimony community in Kerala</h4>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3 mbsm-1">
                    <h1>Register Now!</h1>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 noo">
                    <p>Not a member?</p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="ribtns ribtnss" id="username" >
                         <a class="news smsiu ml-4" href="{% url 'web:signup' %}">Register for free</a>
                         <p class="d-none already">Already a member?</p><a class="news newss smsiu ml-4" href="{% url 'web:login' %}">Sign in</a>
                      </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 gif d-none d-lg-block">
            <img class="float-right" src="{% static 'web/image/nikah_gif.gif' %}" alt="ddd">
        </div>
    
        </div>
      </section><!-- End Hero -->

      <section id="about" class="d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-6 pt-5">
                    <img class="about-img" src="{% static 'web/image/about.png' %}" alt="">
                </div>

                <div class="col-6 about-para">
                    <h3>About Us </h3>
                    <hr>
                    <p>Nikah Kerala.com, Kerala’s No.1 Matchmaking and Matrimony Service, was founded with a simple objective - to help people Malayalies find happiness. Nikah Kerala.com is a leader in what is sometimes known as the kerala matrimony category, we have touched more than 1 Lakh lives. It's the right destination for singles looking for a life partner within their community.  At Nikah Kerala, we believe that a Nikah Keralat about just two persons but about two families too. Nikah Kerala.com helps you find your right partner and family who match your community, interests and preferences through its personalized search assistance.</p>
                    <p>When you register on Nikah Kerala.com, based on your community, your profile will be assigned to the relevant community matrimony site where you can search and contact profiles from your community. Empowered by innovative tools and modern technologies, GlobalMatrimony.com provides the widest choice of profiles, that matches your criteria and expectations.</p>
                    <a href="#">Read More <i class="icofont-arrow-right"></i>
                    </a>
                </div>


            </div>
            </div>
      </section>

      <section id="find">
        <div class="container">
            
            <h5>Lorem ipsum</h5>
            <div class="row">
                <div class="col-lg-6 col-12 order-lg-1 order-2 soul">
                    <h1>Find Your Soul Mate</h1>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo</p>
                <div class="row mt-6">
                    <div class="col-lg-6 col-md-6 col-12 find-sub">
                            <img src="{% static 'web/image/4.png' %}" alt="">
                            <h6>Value Oriented </h6>
                            <p>Meet proposals which are manually verified by the verification team. The only service that strives to make sure of the genuineness of data.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 find-sub">
                        <img src="{% static 'web/image/3.png' %}" alt="">
                        <h6>Simple and Secure</h6>
                        <p>The most user friendly online matrimony experience you have ever had. Easy to use and maximum possible security for your data.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-12 find-sub">
                    <img src="{% static 'web/image/2.png' %}" alt="">
                    <h6>Premium Support</h6>
                    <p>We always strive to provide qulaity service to all our users, we are equipped with latest technology and an active customer support to assist you.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-12 find-sub">
                <img src="{% static 'web/image/1.png' %}" alt="">
                <h6>Interact</h6>
                <p>Be part of our premium plans and start a conversation and know more about you partner. We have helped thousands to find perfect partner and perfect families.</p>
        </div>

                </div>
                </div>

                <div class="col-lg-6 col-12 order-lg-2 order-1 find-subb">
                    <img src="{% static 'web/image/find.png' %}" alt="">
                    <div class="row">
                        <div class="col-6 find-subbb left-upp">
                            <div class="talk-bubble tri-right btm-right-in">
                                <div class="talktext">
                                  <p>Now flipped the other way and square. Uses .border and .btm-right-in</p>
                                </div>
                              </div>
                        </div>
                        <div class="col-6">

                        </div>
                        <div class="col-6">
                            
                        </div>
                        <div class="col-6 find-subbb find-sub-left">
                            <div class="talk-bubble tri-right btm-left-in">
                                <div class="talktext">
                                  <p>Now we add a border and it looks like a comic. Uses .border .round and .btm-left-in</p>
                                </div>
                              </div>
                        </div>
                        <div class="col-6">
                            
                        </div>
                        <div class="col-6 find-subbb find-sub-right">
                            <div class="talk-bubble tri-right left-in">
                                <div class="talktext">
                                  <p>This talk-bubble uses .left-in class to show a triangle on the left slightly indented. Still a blocky square.</p>
                                </div>
                              </div>
                        </div>
                        <div class="col-6 find-subbb left-upp">
                            <p class="find-p mb-0">If you have one bucket that contains 2 gallons and another bucket thathow many buckets do you have?</p>
                        </div>
                </div>

                </div>
                </div>


      </section>

      <section id="service">
        <div class="container">
            <h5 class="text-center">Services</h5>
            <h1 class="text-center">Why Us</h1>
            <p>Find out just how far Siphome can lead your home into next-gen intelligence.</p>
            <div class="row justify-content-between">
                    
                <div class="col-12 col-lg-12">
                    <div class="profile-circle-wrapper circle-animation d-none d-sm-block">
                        <!-- Profile Inner -->
                        <div class="profile-inner">
                            <!-- Profile Circle -->
                            <div class="profile-circle circle-lg">
                                <span class="profile-icon icon-1">
                                </span>
                                <span class="profile-icon icon-2">
                                    <img src="{% static 'web/image/profile_icon_3.png' %}"   class="icon-2-img"> 
                                </span>
                                <span class="profile-icon icon-3">
                                    <img src="{% static 'web/image/profile_icon_3.png' %}" class="icon-3-img"> 
                                </span>
                                <span class="profile-icon icon-4">
                                    <img src="{% static 'web/image/profile_icon_3.png' %}" class="icon-4-img"> 
                                </span>
                            </div>

                            <div class="profile-circle circle-md">
                                
                                <span class="profile-icon icon-5">
                                    <img src="{% static 'web/image/profile_icon_3.png' %}" class="icon-5-img"> 
                                </span>
                                <span class="profile-icon icon-6">
                                    <img src="{% static 'web/image/profile_icon_3.png' %}" class="icon-6-img"> 
                                </span>
                                <span class="profile-icon icon-7">
                                    <img src="{% static 'web/image/profile_icon_3.png' %}" class="icon-7-img"> 
                                </span>
                            </div>

                            
                        </div>
                    <!-- center image -->
                    
                        
                        <img id="" class="folder-img" src="{% static 'web/image/why.png' %}" alt="" />
                    
                    
                    </div>
                    <!-- Content Inner -->
                </div>
                
                

            </div>
        </div>
      </section>
      <div class="container">
        <div class="row justify-content-center serve">
            <div class="col-lg-4 col-6">
            <img class="float-left" src="{% static 'web/image/icons/1.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet, consetetur</p>
            </div>
            <div class="col-lg-4 col-6">
                <img class="float-left" src="{% static 'web/image/icons/2.png' %}" alt="">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-lg-4 col-6">
                <img class="float-left" src="{% static 'web/image/icons/3.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet, consetetur</p>
                </div>
                <div class="col-lg-4 col-6">
                    <img class="float-left" src="{% static 'web/image/icons/4.png' %}" alt="">
                    <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="col-lg-4 col-6">
                        <img class="float-left" src="{% static 'web/image/icons/5.png' %}" alt="">
                        <p>Lorem ipsum dolor sit amet, consetetur</p>
                    </div>
                    <div class="col-lg-4 col-6">
                        <img class="float-left" src="{% static 'web/image/icons/6.png' %}" alt="">
                    <p>Lorem ipsum dolor sit amet, consetetur</p>
                        </div>

        </div>
    </div>


    

    {% endblock %}
    {% block javascript %}
    <script src="{% static 'web/js/index.js' %}"></script>
    {% endblock %}
