
{% extends 'web/base.html' %}
{% load static %}
{% block title %}Matched{% endblock %}


{% block content %}
{% include "web/partials/header2.html" %}
    
    <section class="explore pb-0">
      <div class="container">
          <div class="row exx inter">
              
              
              <div class="col-12 smsm">
                <p> <span><i class="icofont-ui-love-add" style="color: #00AB3B;"></i></span> Interests</p> 
              </div>

              <div class="col-6 hrr">

              </div>

              <div class="col-12">
                  <ul class="d-flex">
                    <li>  <a href="{% url 'web:likesyou' %}">Likes You </a></li>
                    <li>  <a class="activee" href="{% url 'web:match' %}">Match </a></li>
                    <li>  <a  href="{% url 'web:youlike' %}">You Like </a></li>
                     
                  </ul>
              </div>
          </div>
          
      </div>
    </section>
    <div class="container pager mt-3">
        <div class="row member" id="memberList">
        </div>
        </div>
        

    <!-- <div class="container pager mt-3">
        <div class="row member justify-content-center trmatch">


            <div class="col-lg-4 col-md-6 col-sm-12 col-12 text-center">
                <i class="icofont-ui-love-add ma" style="color: #1C57C9;"></i>
                <p class="maa">You have no Matches now</p>
            </div>
            
            

            

        </div>
    </div> -->

      
    {% include "web/partials/mobilefooter.html" %}


        
    {% endblock %}
    {% block javascript %}
    <script src="{% static 'web/js/getmachedprofiles.js' %}"></script>

    <script src="{% static 'web/js/header.js' %}"></script>

    {% endblock %}
