{% extends 'web/base.html' %}
{% load static %}
{% block title %}My Profile{% endblock %}


{% block content %}
{% include "web/partials/header2.html" %}

<section class="explore pb-0">
    <div class="container">
        <div class="row exx inter">


            <div class="col-12 smsm">
                <p>Hello, <span id="modifyUsername"></span> <span><i class="icofont-hand"
                            style="color: #cfcc1e;"></i></span></p>
            </div>
        </div>
        <div class="col-6 hrr d-none  ">

        </div>
        <div class="row inter kert justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-10 col-11 exxd">
                <ul class="d-flex justify-content-center p-0">
                    <li> <a class="activee" href="{% url 'web:myprofile' %}">My Profile </a></li>
                    <li> <a href="{% url 'web:partnerpref' %}">Partner Preferences </a></li>
                    <li> <a href="{% url 'web:addphotos' %}">Add Photos</a></li>
                    <li> <a href="{% url 'web:changepass' %}">Change Password</a></li>

                </ul>
            </div>
        </div>


    </div>
</section>


<div class="container mt-5 myprofile">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <img id="userImage" width="100%" alt="">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
            <h4 id="name"></h4>

            <div class="row proff">
                <div class="col-lg-4 col-md-4 col-sm-5 col-4"><label for="">Username</label></div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-8">
                    <p> : <b id="userNAme"></b> </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-4"><label for="">E-mail</label></div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-8">
                    <p> : <b id="email">Ayshra@gmail.com</b> </p><span><a href="#"></a></span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-4"><label for="">Age</label></div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-8">
                    <p> : <b id="age"></b> </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-4"><label for="">Sex</label></div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-8">
                    <p> : <b id="gender"></b> </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-4"><label for="">Location</label></div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-8">
                    <p> : <b id="location"></b> </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-4"><label for="">Religion</label></div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-8">
                    <p> : <b id="relegion"></b> </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-4"><label for="">Profile created by</label></div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-8">
                    <p> : <b id="profileCreatedBy"></b> </p>
                </div>
            </div>


        </div>
    </div>
</div>


<div class="container mt-5 perso" id="editFormDiv">
    <form name="updateUserDetailsForm" id="updateUserDetailsForm">
        {% csrf_token %}



        <div class="row justify-content-center mb-5">
            <div class="col-lg-12">
                <h2>Personal Information </h2>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-7 col-8">
                <div class="linne">
                </div>
            </div>
        </div>


        <div class="row mb-5" id="ProfileView">
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Nationality</label></div>
                    <div class="col-7">
                        <p> :<b id="nationality"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Ethinicity</label></div>
                    <div class="col-7">
                        <p> : <b id="ethinicity"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Height</label></div>
                    <div class="col-7">
                        <p> : <b id="Height"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Weight</label></div>
                    <div class="col-7">
                        <p> : <b id="Weight"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Martial status</label></div>
                    <div class="col-7">
                        <p> : <b id="martialstatus"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Number of Children</label></div>
                    <div class="col-7">
                        <p> : <b id="noOfChildren"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Complexion</label></div>
                    <div class="col-7">
                        <p> : <b id="complexion"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Body type</label></div>
                    <div class="col-7">
                        <p> : <b id="bodyType"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Mother toungue</label></div>
                    <div class="col-7">
                        <p> : <b id="motherTongue"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Physical status</label></div>
                    <div class="col-7">
                        <p> : <b id="physicalStatus"></b></p>
                    </div>
                </div>
            </div>
            <!-- / -->

            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Mobile</label></div>
                    <div class="col-7">
                        <p> : <b id="mobile"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Date of birth</label></div>
                    <div class="col-7">
                        <p> : <b id="dob"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Language spoken</label></div>
                    <div class="col-7">
                        <p> : <b id="languageSpoken"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Family type</label></div>
                    <div class="col-7">
                        <p> : <b id="familyType"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Smoking</label></div>
                    <div class="col-7">
                        <p> : <b id="smoking"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Drinking</label></div>
                    <div class="col-7">
                        <p> : <b id="drinking"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Willing to marry</label></div>
                    <div class="col-7">
                        <p> : <b id="whenMarry"></b></p>
                    </div>
                </div>
            </div>

            <!-- // -->
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Father occupation</label></div>
                    <div class="col-7">
                        <p> : <b id="fatherOccupationview"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Mother Occupation</label></div>
                    <div class="col-7">
                        <p> : <b id="motherOccupationview"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">No. of siblings</label></div>
                    <div class="col-7">
                        <p> : <b id="noOfSiblings"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">no. of elder brother</label></div>
                    <div class="col-7">
                        <p> : <b id="noOfElederBrother"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">no. of yonger brother</label></div>
                    <div class="col-7">
                        <p> : <b id="yongerBrother"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">no. of married brothers</label></div>
                    <div class="col-7">
                        <p> : <b id="noOfMarriedBrothers"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">no. of younger sisters</label></div>
                    <div class="col-7">
                        <p> : <b id="noOfYoungerSister"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">no. of elder sisters</label></div>
                    <div class="col-7">
                        <p> : <b id="elderSister"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">no. of married sisters</label></div>
                    <div class="col-7">
                        <p> : <b id="noOfMarriedSisters"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Financial status</label></div>
                    <div class="col-7">
                        <p> : <b id="financialStatus"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Highest Education</label></div>
                    <div class="col-7">
                        <p> : <b id="highestEducation"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Specialization</label></div>
                    <div class="col-7">
                        <p> : <b id="specialization"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row proff">
                    <div class="col-5"><label for="">Community</label></div>
                    <div class="col-7">
                        <p> : <b id="community"></b> </p>
                    </div>
                </div>
            </div>




        </div>
        <div class="row mb-5" id="ProfileEdit">
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Nationality</label></div>
                    <div class="col-7">
                        <p> <input type="text" name="nationality" class="form-control"> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Ethinicity</label></div>
                    <div class="col-7">
                        <p> {{formpro.ethnicGroup}} </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Height</label></div>
                    <div class="col-7">
                        <p><select name="height" id="editHeight" class="form-control"></select></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Weight</label></div>
                    <div class="col-7">
                        <p><select name="weight" id="editweight" class="form-control"></select></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Martial status</label></div>
                    <div class="col-7">{{formpro.martialStatus}}</div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Number.of Children</label></div>
                    <div class="col-7">
                        <p> <input type="text" id="noc" name="numberofChildresn" class="form-control"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Complexion</label></div>
                    <div class="col-7">
                        <p> {{formpro.complexion}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Body type</label></div>
                    <div class="col-7">
                        <p> {{formpro.bodyType}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Mother toungue</label></div>
                    <div class="col-7"><select name="motherTongue" class="form-control">
                            <option value="Malayalam">Malayalam</option>
                            <option value="Tamil">Tamil</option>
                            <option value="Hindi">Hindi</option>
                            <option value="Kannada">Kannada</option>
                            <option value="Arabic">Arabic</option>
                            <option value="Urdu">Urdu</option>
                            <option value="Tulu">Tulu</option>
                            <option value="Beary">Beary</option>
                            <option value="Mahi">Mahi</option>
                            <option value="Konkani">Konkani</option>
                            <option value="Gujarati">Gujarati</option>
                            <option value="Marathi">Marathi</option>
                            <option value="Punjabi">Punjabi</option>
                        </select></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Physical status</label></div>
                    <div class="col-7">
                        <p>{{formpro.physicalStatus}}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Mobile</label></div>
                    <div class="col-7">
                        <p> <b> <input type="text" name="mobile" class="form-control"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Date of birth</label></div>
                    <div class="col-7">
                        <p> <b id="dob"> <input type="date" id="datepicker" name="dateOfBirth" class="form-control"></b>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Language spoken</label></div>
                    <div class="col-7">
                        <p> <b id="languageSpoken"> <input type="text" name="languagespoken" id="languagespoken"
                                    class="required form-control"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Family type</label></div>
                    <div class="col-7">
                        <p><b>{{formpro.familyType}}</b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Smoking</label></div>
                    <div class="col-7">
                        <p><b id="smoking"> {{formpro.smoking}}</b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Drinking</label></div>
                    <div class="col-7">
                        <p><b>{{formpro.drinking}}</b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">When you are hoping to get married</label></div>
                    <div class="col-7">
                        <p> <b id="whenMarry"> {{formpro.whenmarry}}</b></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Father occupation</label></div>
                    <div class="col-7" id="ocupationFather">
                        {% include 'web/partials/fatheroccupation.html' %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Mother Occupation</label></div>
                    <div class="col-7" id="ocupationMother">
                        {% include 'web/partials/motherocupation.html' %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">No. of siblings</label></div>
                    <div class="col-7">
                        <p> <input name="numberofsiblings" type="text" class="form-control"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">no. of elder brother</label></div>
                    <div class="col-7">
                        <p> <input name="elderBrothers" type="text" class="form-control"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">no. of younger brother</label></div>
                    <div class="col-7">
                        <p> <input name="yongerBrother" type="text" class="form-control"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">no. of married brothers</label></div>
                    <div class="col-7">
                        <p> <input name="marriedBrothers" type="text" class="form-control"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">no. of younger sisters</label></div>
                    <div class="col-7">
                        <p> <input name="youngerSisters" type="text" class="form-control"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">no. of elder sisters</label></div>
                    <div class="col-7">
                        <p> <input name="elderSister" type="text" class="form-control"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">no. of married sisters</label></div>
                    <div class="col-7">
                        <p> <input name="marriedSisters" type="text" class="form-control"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Financial status</label></div>
                    <div class="col-7">
                        <p> {{formpro.financialStatus}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Highest Education</label></div>
                    <div class="col-7">
                        <p id="ed1Id"> {{formedu.highestEducation}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Specialization</label></div>
                    <div class="col-7" id="EduSpezializationOption">
                        {% include 'web/partials/selectedu.html' %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Community</label></div>
                    <div class="col-7">
                        <p> {{formpro.community}}</p>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-6 col-md-6 mb-3"><div class="row proff"><div class="col-5"><label for="">Working as</label></div> <div class="col-7"><p> <select  name="profession" class="form-control" name="profession" id="profession">
                <option value="Accountant">Accountant</option>
                                    <option value="CA">CA</option>
                                    <option value="Secretary">Secretary</option>
                                    <option value="Doctor">Doctor</option>
                                    <option value="Nurse">Nurse</option>
                                    <option value="Marketing Executive">Marketing Executive</option>
                                    <option value="HRM">HRM</option>
                                    <option value="Pharmacist">Pharmacist</option>
                                    <option value="Self Employed">Self Employed</option>
                                    <option value="Part-Time">Part-Time</option>
                                    <option value="Professor">Professor</option>
                                    <option value="Teacher">Teacher</option>
                                    <option value="Software Developer">Software Developer</option>
                                    <option value="Graphics Designer">Graphics Designer</option>
                                    <option value="Administrator">Administrator</option>
                                    <option value="Business">Business</option>
            </select></p></div></div></div>              -->
        </div>

        <div class="row justify-content-center mb-5">
            <div class="col-lg-12">
                <h2>Location & Contact Details</h2>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-7 col-8">
                <div class="linne">
                </div>
            </div>
        </div>
        <div class="row" id="ProfileView">

            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row proff">
                    <div class="col-5"><label for="">Present Country</label></div>
                    <div class="col-7">
                        <p> : <b id="presentCountry">India </b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row proff">
                    <div class="col-5"><label for="">Present State</label></div>
                    <div class="col-7">
                        <p> : <b id="presentState">Kerala </b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row proff">
                    <div class="col-5"><label for="">Present City</label></div>
                    <div class="col-7">
                        <p> : <b id="presentCity">Ramanatukara </b> </p>
                    </div>
                </div>
            </div>

            <!--  -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row proff">
                    <div class="col-5"><label for="">Native City</label></div>
                    <div class="col-7">
                        <p> : <b id="nativeCity"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row proff">
                    <div class="col-5"><label for="">Native Country</label></div>
                    <div class="col-7">
                        <p> : <b id="nativeCountry"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row proff">
                    <div class="col-5"><label for="">Native State</label></div>
                    <div class="col-7">
                        <p> : <b id="nativeState"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row proff">
                    <div class="col-5"><label for="">Working as</label></div>
                    <div class="col-7">
                        <p> : <b id="workingAsview"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row proff">
                    <div class="col-5"><label for="">Working with</label></div>
                    <div class="col-7">
                        <p> : <b id="workingWith"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row proff">
                    <div class="col-5"><label for="">Annual income</label></div>
                    <div class="col-7">
                        <p> : <b id="annualIncome"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row proff">
                    <div class="col-5"><label for="">Describe</label></div>
                    <div class="col-7">
                        <p> : <b id="describe"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row proff">
                    <div class="col-5"><label for="">Perform namaz</label></div>
                    <div class="col-7">
                        <p> : <b id="performNamaz"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row proff">
                    <div class="col-5"><label for="">Relegiousness</label></div>
                    <div class="col-7">
                        <p> : <b id="relegiousness"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row proff">
                    <div class="col-5"><label for="">Read quran</label></div>
                    <div class="col-7">
                        <p> : <b id="readQuran"></b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row proff">
                    <div class="col-5"><label for="">Madrassa education</label></div>
                    <div class="col-7">
                        <p> : <b id="madrasaEducation"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row proff">
                    <div class="col-5"><label for="">Attend islamic service</label></div>
                    <div class="col-7">
                        <p> : <b id="attendIslamicService"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row proff">
                    <div class="col-5"><label for="">House Name</label></div>
                    <div class="col-7">
                        <p> : <b id="houseName"></b> </p>
                    </div>
                </div>
            </div>

            <!-- //      -->
        </div>


        <div class="row mb-5" id="ProfileEdit">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Present Country</label></div>
                    <div class="col-7">
                        <p> <input type="text" name="currentCountry" class="form-control"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Present State</label></div>
                    <div class="col-7">
                        <p> <input type="text" name="currentState" class="form-control"> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Present City</label></div>
                    <div class="col-7">
                        <p> <input type="text" name="currentCity" class="form-control"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Native City</label></div>
                    <div class="col-7">
                        <p><input type="text" name="nativeCity" class="form-control"> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Native Country</label></div>
                    <div class="col-7">
                        <p><input type="text" name="nativeCountry" class="form-control"> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Native State</label></div>
                    <div class="col-7">
                        <p><input type="text" name="nativeState" class="form-control"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                <div class="row proff ">
                    <div class="col-5"><label for="">Working as</label></div>
                    <div class="col-7" id="workingasoptions">
                        {% include 'web/partials/workingas.html' %}

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Working with</label></div>
                    <div class="col-7">
                        <p>
                            {{formedu.workingwith}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Annual income</label></div>
                    <div class="col-7">
                        <p> <select class="form-control" name="annualincome" id="">
                                <option value="No Income">No Income</option>
                                <option value="1.5 lakh per/annum">
                                    < 1.5 lakh per/annum </option>
                                <option value="2 lakh per/annum">
                                    < 2 lakh per/annum </option>
                                <option value="4 lakh per/annum">
                                    < 4 lakh per/annum </option>
                                <option value="5 lakh per/annum">
                                    < 5 lakh per/annum </option>
                                <option value="10 lakh per/annum">
                                    < 10 lakh per/annum </option>
                                <option value="15 lakh per/annum">
                                    < 15 lakh per/annum </option>
                                <option value="20 lakh per/annum">
                                    < 20lakh per/annum </option>
                                <option value="20 lakh and above per/annum"> > 20lakh per/annum </option>
                            </select></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Describe</label></div>
                    <div class="col-7">
                        <p> </p><input type="text" name="describe" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Perform namaz</label></div>
                    <div class="col-7">
                        <p>{{formedu.performNamaz}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Relegiousness</label></div>
                    <div class="col-7">
                        <p>{{formedu.religiousness}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Read quran</label></div>
                    <div class="col-7">
                        <p></p>{{formedu.readQuran}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Madrassa education</label></div>
                    <div class="col-7">
                        <p><input type="text" name="madrassaEducation" class="form-control"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Attend islamic service</label></div>
                    <div class="col-7">
                        <p>{{formedu.attendIslamicServices}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">House Name</label></div>
                    <div class="col-7">
                        <p> </p><input type="text" name="houseName" class="form-control">
                    </div>
                </div>
            </div>


        </div>

        <div class="row mt-4" id="ProfileView">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row proff">
                    <div class="col-5"><label for="">Primary Number</label></div>
                    <div class="col-7">
                        <p> : <b id="primaryNumber"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row proff">
                    <div class="col-5"><label for="">Secondary Number</label></div>
                    <div class="col-7">
                        <p> : <b id="secondaryNumber"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row proff">
                    <div class="col-5"><label for="">Preffered Person</label></div>
                    <div class="col-7">
                        <p> : <b id="preferedPerson"></b> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="row proff">
                    <div class="col-5"><label for="">Relation</label></div>
                    <div class="col-7">
                        <p> : <b id="relation"></b> </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 p-0 mt-3 text-center" id="btnSubm=">
        <a href="{% url 'web:delete' %}" class="link linkd">Delete Account<span class="ml-3"><i
            class="icofont-ui-delete"></i></span> </a>
        </div>

        <div class="row mt-4" id="ProfileEdit">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Primary Number</label></div>
                    <div class="col-7">
                        <p> <input type="text" name="primaryNumber" class="form-control"> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Secondary Number</label></div>
                    <div class="col-7">
                        <p> <input type="text" name="secondaryNumber" class="form-control"> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Preffered Person</label></div>
                    <div class="col-7">
                        <p> <input type="text" name="preferedContact" class="form-control"> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                <div class="row proff">
                    <div class="col-5"><label for="">Relation</label></div>
                    <div class="col-7">
                        <p>{{formedu.relation}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-success" id="successMessageDiv" role="alert">
            <p id="successMessage"></p>
        </div>
        <div class="col-12 text-center" id="btnSubmitDiv">
            <button type="submit" class="btn mt-5">Save & Submit</button>
        </div>
    </form>
</div>





<div class="edit-fix" onclick="editprofile()"><i class="icofont-edit-alt"></i></div>


{% include "web/partials/mobilefooter.html" %}



{% endblock %}
{% block javascript %}
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.0/jquery.validate.min.js"></script>
<script src="{% static 'web/js/editprofilehelper.js' %}"></script>
<script src="{% static 'web/js/getmachedprofiles.js' %}"></script>
<script src="{% static 'web/js/myprofile.js' %}"></script>
<script src="{% static 'web/js/header.js' %}"></script>
<script src="{% static 'web/js/helper.js' %}"></script>

{% endblock %}