
    

{% extends 'web/base.html' %}
{% load static %}
{% block title %}Pending{% endblock %}

{% block content %}
{% include "web/partials/header2.html" %}
   

    <div class="container pager sedre" style="margin-top:7%">
        <div class="row member justify-content-center trmatch">


            <div class="col-lg-4 col-md-6 col-sm-12 col-12 text-center">
                <img src="{% static 'web/image/pending.gif' %}" alt="">
                <p class="maa">Thanks for Joining Us</p>
            </div>
            <p class="maa" style="color: black;">Your Registraion is completed Successfully,We will contact you shortly for verification</p>
            
            

            

        </div>
    </div>

      
    {% include "web/partials/mobilefooter.html" %}


        
    {% endblock %}
    {% block javascript %}
    <script src="{% static 'web/js/pending.js' %}"></script>
    <script src="{% static 'web/js/header.js' %}"></script>
    {% endblock %}
