
    

{% extends 'web/base.html' %}
{% load static %}
{% block title %}Pending{% endblock %}

{% block content %}
{% include "web/partials/header2.html" %}
   

    <div class="container pager sedre" style="margin-top:7%">
        <div class="row member justify-content-center trmatch">


            <div class="col-lg-4 col-md-6 col-sm-12 col-12 text-center">
                <img src="{% static 'web/image/pending.gif' %}" alt="">
                <p class="maa">Thanks for Joining Us</p>
            </div>
            <p class="maa" style="color: black;">Your Registraion is completed Successfully,We will contact you shortly for verification</p>
            
            

            

        </div>
    </div>

    <div class="container-fluid bg-green">
      <div class="container ">
          <div class="row text-center">
              <div class="col-lg-4 col-md-6 col-sm-6 col-12">

                <div class="row help text-white">
                <div class="col-2"> <i class="icofont-ui-touch-phone"></i> </div>
                <div class="col-10 text-left pl-20"> 
                    <p>HelpLine 24x7</p>
                    <a href="tel:917034214444">+91 7034214444</a> , 
                    <a class="floatsm-left" href="tel:919778579950">+91 9778579950</a>
                </div>
                </div>
                
                

              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-12 padd-xs">

                <div class="row help text-white">
                <div class="col-2"> <i class="icofont-email"></i> </div>
                <div class="col-10 text-left pl-20"> 
                    <p>Share Your Queries</p>
                    <a href="mailto:info@nikahmalabar.com">info@nikahmalabar.com</a> 
                    
                </div>
                </div>
                

              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-12 pad-md">

                <div class="row help text-white">
                <div class="col-2"><i class="icofont-location-pin"></i> </div>
                <div class="col-10 text-left pl-20"> 
                    <p>Head Office</p>
                    <a href="#">Uphill Malappuram, Kerala</a>
                    
                </div>
                </div>
                
                

              </div>
              
          </div>
      </div>
    </div>
    

      
    {% include "web/partials/mobilefooter.html" %}


        
    {% endblock %}
    {% block javascript %}
    <script src="{% static 'web/js/pending.js' %}"></script>
    <script src="{% static 'web/js/header.js' %}"></script>
    {% endblock %}
