{% extends 'web/base.html' %}
{% load static %}
{% block title %}Complete Registration{% endblock %}

{% block content %}
    
 <style>
     .error{
         color: red;
     }

     .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input, .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input[type=text], .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input[type=tel] {
        padding-left: 84px;
        width: 403px;
    }
 </style>


<link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/css/intlTelInput.css" rel="stylesheet" media="screen">




    

    
      <section class="profiler">

        <div class="container">
            <div class="row profiler-head">
                
                

                <div class="col-lg-10 col-md-11 col-sm-12 col-11 pro-box">
                    <div class="row text-center">
                        <div class="col-12">
                       <p><span class=""></span> Create Your Profile   </p>
                    </div>
    
                    </div>
                    <form action="#" name="profiler">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="inputFirstname">Profile Created by</label>
                                {{form.profileCreated}}
                            </div>
                            <div class="col-sm-6">
                                <label for="inputLastname">Bride / Groom</label>
                                <input name="name" id="name" type="text" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="inputAddressLine1">Gender</label>
                                {{form.gender}}
                            </div>
                            <div class="col-sm-6">
                                <label for="inputCity">Mobile Number</label>
                                <br>
                                <input name="moblie" id="moblie" type="tel" class="form-control" placeholder="Number">
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="inputWebsite">Your Religion</label>
                                {{form.relegion}}
                            </div>

                            <div class="col-sm-6">

                                <label for="inputAddressLine2">Community</label>
                                {{form.community}}
                            </div>

                            

                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                
                                <label for="inputWebsite">Nationality</label>
                                {{form.nationality}}

                            </div>
                            <div class="col-sm-6">
                                <label for="inputContactNumber">Date of Birth</label>
                                <input placeholder="n" type="date" id="dateOfBirth" name="dateOfBirth" class="form-control">
                                    
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            
                            <div class="col-sm-6">
                                <label for="inputWebsite">Height</label>
                                <select name="height" id="height" class="required form-control">
                                </select>

                            </div>
                            <div class="col-sm-6">
                                <label for="inputWebsite">Weight</label>
                                <select name="weight" id="weight" class="required form-control">
                                    
                                </select>
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="inputContactNumber">Martial Status</label>
                                {{form.martialStatus}}
                            </div>
                            <div class="col-sm-6">
                                <label for="inputWebsite">Complexion</label>
                                {{form.complexion}}
                            </div>
                        </div>
                        <div class="form-group row" id="numberodChildren">
                            
                            <div class="col-sm-6">
                                <label for="inputWebsite">No of Children</label>
                                <input type="number" id="childrens" name="childrens" class="form-control" value=0>
                                 

                            </div>
                            <div class="col-sm-3">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="inputContactNumber">Ethnic Group</label>
                                {{form.ethnicGroup}}
                            </div>
                            <div class="col-sm-6">
                                <label for="inputWebsite">Body Type</label>
                                {{form.bodyType}}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="inputContactNumber">Physical Status</label>
                                {{form.physicalStatus}}
                            </div>
                            <div class="col-sm-6">
                                <label for="inputWebsite">Mother Tongue</label>
                                <select name="motherTongue" id="motherTongue" class="required form-control">
                                    <option value="Malayalam">Malayalam</option>
                                    <option value="Tamil">Tamil</option>
                                    <option value="Hindi">Hindi</option>
                                    <option value="Kannada">Kannada</option>
                                    <option value="Arabic">Arabic</option>
                                    <option value="Urdu">Urdu</option>
                                    <option value="Tulu">Tulu</option>
                                    <option value="Beary">Beary</option>
                                    <option value="Mahi">Mahi</option>
                                    <option value="Konkani">Konkani</option>
                                    <option value="Gujarati">Gujarati</option>
                                    <option value="Marathi">Marathi</option>
                                    <option value="Punjabi">Punjabi</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="inputWebsite">Language Spoken</label>
                                <select name="languagespoken" id="languagespoken" class="required form-control">
                                    <option value="Malayalam">Malayalam</option>
                                    <option value="Tamil">Tamil</option>
                                    <option value="Hindi">Hindi</option>
                                    <option value="Kannada">Kannada</option>
                                    <option value="Arabic">Arabic</option>
                                    <option value="Urdu">Urdu</option>
                                    <option value="Tulu">Tulu</option>
                                    <option value="Beary">Beary</option>
                                    <option value="Mahi">Mahi</option>
                                    <option value="Konkani">Konkani</option>
                                    <option value="Gujarati">Gujarati</option>
                                    <option value="Marathi">Marathi</option>
                                    <option value="Punjabi">Punjabi</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="inputWebsite">Family Type</label>
                                {{form.familyType}}
                            </div>
                            <div class="col-sm-6">
                                <label for="inputContactNumber">Father Occupation</label>
                                {{form.fatherOccupation}}
                            </div>
                        </div>
                        
                        
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="inputWebsite">Mother Occupation</label>
                                {{form.motherOccupation}}
                            </div>
                            <div class="col-sm-6">
                                <label for="inputWebsite">No of Siblings</label>
                                <input type="number" name="numberofsiblings" id="numberofsiblings" value=0 class="required form-control">
                            </div>
                            
                        </div>

                        <div id="siblingdetails">
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="inputContactNumber">Elder Brother</label>
                                <input type="number" name="elderBrothers" id="elderBrothers" value=0 class="required form-control">
                            </div>
                            <div class="col-sm-3">
                                <label for="inputWebsite">Married Brother</label>
                                <input type="number" name="marriedBrothers" id="marriedBrothers" value=0 class="required form-control">
                            </div>
                            <div class="col-sm-3">
                                <label for="inputWebsite">Younger Sister</label>
                                <input type="number" name="youngerSisters" id="youngerSisters" value=0 class="required form-control">
                            </div>
                            <div class="col-sm-3">
                                <label for="inputWebsite">Married Sister</label>
                                <input type="number" name="marriedSisters" id="marriedSisters" value=0 class="required form-control">
                            </div>
                        </div>
                        <h6 class="error m-0" style="font-weight: 600; position:relative;top:-30px;"  id="siblingError"></h6>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="inputContactNumber">Financial Status</label>
                                {{form.financialStatus}}
                            </div>
                            <div class="col-sm-3">
                                <label for="inputWebsite">Smoking</label>
                                {{form.smoking}}
                            </div>
                            <div class="col-sm-3">
                                <label for="inputWebsite">Drinking</label>
                                {{form.drinking}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="inputWebsite">When you are hoping to get married</label>
                                {{form.whenmarry}}
                            </div>
                        </div>

                        <div class="form-group row text-center">
                            <div class="col">
                            <button type="submit" class="btn btn-primary px-4 save">Save & Continue</button>
                        </div>
                        </div>
                            

                    </form>
                </div>
            </div>
        </div>

      </section>


      
      
      {% block javascript %}

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <!--  validation script  -->
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.0/jquery.validate.min.js"></script>
        <script src="{% static 'web/js/profiler.js' %}"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="{% static 'web/js/header.js' %}"></script>
        <script src="{% static 'web/js/helper.js' %}"></script>
        <script src="{% static 'web/js/profilecheckA.js' %}"></script>
     {% endblock %}

    {% endblock %}
