

{% extends 'web/base.html' %}
{% load static %}
{% block title %}View Profile{% endblock %}

{% block content %}



{% include "web/partials/header2.html" %}
    <section class="explore pb-0">
      <div class="container">
          <div class="row exx mb-4">
              
              <div class="col-12">
                <p>View full profile</p> 
              </div>
          </div>
          
      </div>
    </section>
    <form action="#">
        <input type="hidden" id="profileID" value="{{id}}">
     </form>

    <div class="container pager boardd">
       
        <div class="row member board">


            <div class="col-12 p-2 ">
                <div class="pager-coll pager-colll">
                <div class="row p15">
                 <div class="col-lg-4 col-md-4 col-sm-12 pr-0 des-img">
                <img id="profileimage" src="" alt="">
                    <div class="d-flex fta">
                <p class="sta"><i class="icofont-star"></i>Add to Star list</p>
                <p class="sta"><i class="icofont-ui-text-chat"></i>Chat</p>
            </div>
             </div>
             <div class="col-lg-8 col-md-8 col-sm-12 pro-detail parttt parutt pr-0 view">   
                  
                <h2 class="m-0 KM101" id="ProfileName">
                    
                    <span class="float-right disp">Like this profile? 
                        <button class="btnn ml-3"><i class="icofont-ui-love mr-2"></i>Like</button>
                    </span>
                </h2>
                <h2 id="nmId" style="color: #1C57C9;"><b>ID : </b></h2>
                <div class="row text-center d-none part">
                    <div class="col-4"><h6 >Age</h6></div>
                    <div class="col-4"><h6 >Marital status</h6></div>
                    <div class="col-4"><h6 >Created by</h6></div>

                    <div class="col-4"><h5 id="dateOfBirth"></h5></div>
                    <div class="col-4"><h5 id="martialStatus"></h5></div>
                    <div class="col-4"><h5 id="profileCreated"></h5></div>

                </div>

                
             <!-- <p class="mb-4 disp" id=""><span class="sp1" id="dateOfBirthpc"></span> <span class="sp1 ml-3" id="martialStatuspc">Unmarried</span>  

                    <span class="sp1 ml-3" id="nativeCityPC">Calicut</span> 
                
                </p>  -->
                
                
                
             <div class="row viewp mt-4">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="row"><div class="col-5">Age</div> : <div class="col-6" id="dateOfBirthpc">22</div></div>
                    <div class="row"><div class="col-5">Height</div> : <div class="col-6" id="height">22</div></div>
                    <div class="row"><div class="col-5">Weight</div> : <div class="col-5 " id="weight">22</div></div>
                    <div class="row"><div class="col-5">Maritial Status</div> : <div class="col-6" id="martialStatuspc">22</div></div>
                    <div class="row"><div class="col-5">Community</div> : <div class="col-6" id="community">22</div></div>
                    <div class="row"><div class="col-5">Present City</div> : <div class="col-6" id="nativeCityPC">22</div></div>
                    <div class="row"><div class="col-5">Highest Education</div> : <div class="col-6" id="highestEducation">22</div></div>
                    <div class="row"><div class="col-5">Working as</div> : <div class="col-6" id="profession">22</div></div>
                    

                    



                <!-- <p><span><i class="icofont-user mr-2"></span></i><span id="relegion">Muslim | Sunni</span></p>
                <p><span><i class="icofont-web mr-2"></span></i><span id="highestEducation">B-Tech</span> </p>
                <p><span><i class="icofont-bag mr-2"></span></i><span id="profession">UI/UX Designer</span></p>
                <p><span><i class="icofont-users-alt-1 mr-2"></span></i><span id="brothersister">2 Brothers</span></p>
                <p><span><i class="icofont-users-social mr-2"></span></i><span id="ethnicGroup">Extended Family</span><p>
                <p><span><i class="icofont-cubes mr-2"></span></i><span id="eliteclass">Elite Class</span></p> -->
            
            </div>


            <!-- <div class="col-lg-6 col-md-6 col-sm-12">
                <p><span><i class="icofont-flag mr-2"></span></i><span id="nationality">Indian</span></p>
                <p><span><i class="icofont-paint mr-2"></span></i><span id="complexion">Very fair</span></p>
               
                <p><span><i class="icofont-no-smoking mr-2"></span></i><span id="smoking">Occasionally</span></p>
                <p><span><i class="icofont-beverage mr-2"></span></i><span id="drinking">Doesn't drink</span></p>
                <p><span><i class="icofont-user-male mr-2"></span></i><span id="fatherocupation">Software Developer</span></p>
                <p><span><i class="icofont-user-female mr-2"></span></i><span id="motherocupation">House Wife</span></p>
                
            </div> -->

            
                <div class="col-12 d-flex justify-content-center likhh">
                    <div class="d-none three justify-content-center">
                        <div class="row">

                        <div class="col-4"><p class="sta"><i class="icofont-ui-text-chat"></i></p></div>
                        <div class="col-4"><p class="sta"><i class="icofont-heart"></i></p></div>
                        <div class="col-4"><p class="sta"><i class="icofont-star"></i></p></div>
                          
                    </div>
                </div>
                </div>
            
                

                
                </div>
                

            </div> 
                </div>
            </div>
            </div>

            <div class="col-12 reli ml-2">
                <h2 style="color: #1C57C9;">My self-summary</h2>
                <p class="mb-4" id="describe"></p>
            </div>
            
            <div class="col-12 reli mb-4">
                <div class="prremm">
                    <h2 class="mb-0" style="color: #1C57C9;">Premium Features</h2>
                    <p>Here is your premium features, explore it now!</p>
                    <p class="text-center">You to upgrade your membership plan to know the phone number and address of this profile.There is a relatively low fee for this.Fees can be paid in various ways.Click here to know about the various membership plans.</p>
                    <div class="col-12 text-center"><button class="btn">Click here to view</button></div>
            </div>
            </div>
            

            <div class="col-12">   
             <div class="row viewp mt-4 perss">
                 <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="col-lg-3 col-md-6 col-sm-12 col-12 p-0 mb-3"><h2>Personal Details</h2></div>
                    
                    <div class="row"><div class="col-5">Relegion</div> : <div class="col-6" id="relegion">Isla</div></div>
                    <div class="row"><div class="col-5">Nationality</div> : <div class="col-6" id="nationality">Islam</div></div>
                    <div class="row"><div class="col-5">Martial status</div> : <div class="col-6" id="martialStatuspc2">Isl</div></div>
                    <div class="row"><div class="col-5">No. of Children</div> : <div class="col-6" id="numberofChildresn">Islam</div></div>

                    <div class="row"><div class="col-5">Ethinicity</div> : <div class="col-6" id="ethnicGroup">Islam</div></div>

                    <div class="row"><div class="col-5">Mother Toungue</div> : <div class="col-6" id="motherTongue">Islam</div></div>
                    <div class="row"><div class="col-5">Language Spoken</div> : <div class="col-6" id="languagespoken">New Field</div></div>
                 </div>              
                </div>
            </div> 

            <div class="col-12">   
                <div class="row viewp mt-4 perss">
                    <div class="col-lg-12 col-md-12 col-sm-12">
   
                       <div class="col-lg-3 col-md-6 col-sm-12 col-12 p-0 mb-3"><h2>Physical Details</h2></div>
                       
                       <div class="row"><div class="col-5">Complexion</div> : <div class="col-6" id="complexion">Isla</div></div>
                       <div class="row"><div class="col-5">Body Type</div> : <div class="col-6" id="bodyType">Islam</div></div>
                       <div class="row"><div class="col-5">Disability</div> : <div class="col-6" id="martialStatuspc2">New Field</div></div>
                       </div>              
                   </div>
            </div> 
            <div class="col-12">   
                <div class="row viewp mt-4 perss">
                    <div class="col-lg-12 col-md-12 col-sm-12">
   
                       <div class="col-lg-3 col-md-6 col-sm-12 col-12 p-0 mb-3"><h2>Family Details</h2></div>
                       
                       <div class="row"><div class="col-5">Family type</div> : <div class="col-6" id="familyType">New Field</div></div>
                       <div class="row"><div class="col-5">Father Occupation</div> : <div class="col-6" id="fatherOccupation">Islam</div></div>
                       <div class="row"><div class="col-5">Mother Occupation</div> : <div class="col-6" id="motherOccupation">Islam</div></div>
                       <div class="row"><div class="col-5">No. of Siblings</div> : <div class="col-6" id="numberofsiblings">Islam</div></div>
                       <div class="row"><div class="col-5">No. of Elder brothers</div> : <div class="col-6" id="elderBrothers">Islam</div></div>
                       <div class="row"><div class="col-5">No. of Married brothers</div> : <div class="col-6" id="marriedBrothers">Islam</div></div>
                       <div class="row"><div class="col-5">No. of Younger sisters</div> : <div class="col-6" id="youngerSisters">Islam</div></div>
                       <div class="row"><div class="col-5">No. of Married sisters</div> : <div class="col-6" id="marriedSisters">Islam</div></div>
                       <div class="row"><div class="col-5">Economical status</div> : <div class="col-6" id="financialStatus">Islam</div></div>
                       </div>              
                   </div>
            </div> 
            <div class="col-12">   
                <div class="row viewp mt-4 perss">
                    <div class="col-lg-12 col-md-12 col-sm-12">
   
                       <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-0 mb-3"><h2>Educational Details</h2></div>
                       
                       
                       <div class="row"><div class="col-5">Highest Education</div> : <div class="col-6" id="highestEducation2">Isla</div></div>
                       <div class="row"><div class="col-5">Specification</div> : <div class="col-6" id="EduSpezialization">New Filed</div></div>
                       <div class="row"><div class="col-5">Working with</div> : <div class="col-6" id="workingwith">New Field</div></div>
                       <div class="row"><div class="col-5">Working as</div> : <div class="col-6" id="workingas">New Field</div></div>
                       
                       </div>              
                   </div>
            </div> 
            <div class="col-12">   
                <div class="row viewp mt-4 perss">
                    <div class="col-lg-12 col-md-12 col-sm-12">
   
                       <div class="col-lg-4 col-md-7 col-sm-12 col-12 p-0 mb-3"><h2>Religious Information</h2></div>
                       
                       
                       <div class="row"><div class="col-5">Perform Namaz</div> : <div class="col-6" id="performNamaz"></div></div>
                       <div class="row"><div class="col-5">Reliogiousness</div> : <div class="col-6" id="relegiousStatus"></div></div>
                       <div class="row"><div class="col-5">Read Quran</div> : <div class="col-6" id="quran"></div></div>
                       <div class="row"><div class="col-5">Madrassa Education</div> : <div class="col-6" id="madrassaEdu"></div></div>
                       <div class="row"><div class="col-5">Attend Islamic programs/services</div> : <div class="col-6" id="islamicsercices"></div></div>
                       
                       </div>              
                   </div>
            </div> 

            <div class="col-12">   
                <div class="row viewp mt-4 perss">
                    <div class="col-lg-12 col-md-12 col-sm-12">
   
                       <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-0 mb-3"><h2>Partner Preferences</h2></div>
                       
                       
                       <div class="row"><div class="col-5">Age</div> : <div class="col-6" id="dateOfBirthpcc">Data</div></div>
                       <div class="row"><div class="col-5">Maritial status</div> : <div class="col-6" id="dateOfBirthpc">Data</div></div>
                       <div class="row"><div class="col-5">Height</div> : <div class="col-6" id="martialStatuspc2">Data</div></div>
                       <div class="row"><div class="col-5">Highest Education</div> : <div class="col-6" id="martialStatuspc2">Data</div></div>
                       <div class="row"><div class="col-5">Community</div> : <div class="col-6" id="martialStatuspc2">Data</div></div>
                       <div class="row"><div class="col-5">City</div> : <div class="col-6" id="martialStatuspc2">Data</div></div>
                       
                       </div>              
                   </div>
            </div> 
            
           
            <!-- <div class="row coret">
                <div class="col-lg-6 col-md-10 col-sm-12 col-12">
                    <div class="row reli">
                     <div class="col-12">
                         <h2> <span> <i class="icofont-book"></i> </span> Religious information</h2>
                     </div>
                     <div class="col-5">
                         <p>Perform Namaz </p>
                     </div>
                     <div class="col-5">
                       <p id="performNamaz">: </p>  
                     </div>
                     <div class="col-5">
                         <p>Religiousness</p>
                     </div>
                     <div class="col-5">
                       <p id="relegiousStatus">: </p>  
                     </div>
                    <div class="col-5">
                     <p> Read Quran </p>
                 </div>
                 <div class="col-5">
                   <p id="quran">: </p>  
                 </div>
                 <div class="col-5">
                     <p>Madrasa Education </p>
                 </div>
                 <div class="col-5">
                   <p id="madrassaEdu">: </p>  
                 </div>
                 <div class="col-5">
                     <p>Attend Islamic Services </p>
                 </div>
                 <div class="col-5">
                   <p id="islamicsercices">: </p>  
                 </div>
     
                </div>
                
            </div>
             </div> -->
            
        </div>

       
        


       

        

        

        <div class="row number numberr mt-5 match woah">
            <div class="col-12">
                <div class="row text-center">

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        
                            <p><i class="icofont-nerd-smile mr-2"></i> Whooooooooooh,its a great match</p>
                        
                    </div>
                    

                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 disp">
                        
                        <p>92% match</p>
                    
                </div>
                
                
                    
                </div>
            </div>
        </div>


        <div class="text-center privacy">
            <p>Your access to and use of the Nikah Kerala Services or any content is at your own risk. Read Terms & Conditions and Privacy policy <a style="text-decoration: underline; color:#1C57C9;" href="">here</a> </p>
        </div>


        <div class="container pager">
            <h3 class="for">Similiar profile for you</h3>
        <div class="row member similiar" id="similarProfiles">

            <!-- <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-2 ">
                <div class="pager-coll">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 pr-0 simig">
                <img src="{% static 'web/image/profile.jpg' %}" alt="">
                    <div class="d-flex">
                <p class="sta"><i class="icofont-ui-text-chat"></i></p>
                <p class="sta"><i class="icofont-star"></i></p>
            </div>
             </div>
                
             
             
             <div class="col-lg-6 col-md-6 col-sm-6 col-6 pro-detail floa pr-0">      
                 <a class="like"><i class="icofont-ui-love"></i>Like</a>        
                <h4>KM1011201</h4>
                <p>Age  <span class="sp1 ml-4">22</span> </p> 
                <p>Status  <span class="sp2">Unmarried</span></p> 
                <p><span><i class="icofont-users-alt-3 mr-2"></span></i>Muslim</p>
                <p><span><i class="icofont-web mr-2"></span></i>B-Tech</p>
                <p><span><i class="icofont-bag mr-2"></span></i>UI/UX Designer</p>
                <p><span><i class="icofont-location-pin mr-2"></span></i>Kochi</p>
                
            </div> 
        
            
                </div>
            </div>
            </div> -->
            
            
            
            

            

        </div>
        
    </div>

    </div>

    
    {% include "web/partials/mobilefooter.html" %}      


    {% endblock %}
    {% block javascript %}

    <script src="{% static 'web/js/profiledetails.js' %}"></script>
    <script src="{% static 'web/js/loadheader.js' %}"></script>
    <script src="{% static 'web/js/profileselect.js' %}"></script>
    <script src="{% static 'web/js/header.js' %}"></script>

    {% endblock %}
