{% load static %}




{% comment %} (('House Wife','House Wife'),('Doctor','Doctor'),('Engineer','Engineer'),('Manager','Manager'),('Pharmacist','Pharmacist'),('Accountant','Accountant'),('Teacher','Teacher'),('Late','Late'),('Private','Private'),('Self Employee','Self Employee'),('NRI','NRI'),('Home Maker','Home Maker'),('Govt Employee','Govt Employee'),('Retired','Retired'),('Buisness','Buisness'),('Coolie','Coolie'),('Farmer','Farmer'),('Others','Others')) {% endcomment %}

<select id='fatherOccupation' name='fatherOccupation' class="form-control">
    <option value="Private">Private</option>
    <option value="Self Employee">Self Employee</option>
    <option value="Doctor">Doctor</option>
    <option value="Engineer">Engineer</option>
    <option value="Manager">Manager</option>
    <option value="Pharmacist">Pharmacist</option>
    <option value="Accountant">Accountant</option>
    <option value="Teacher">Teacher</option>
    <option value="Late">Late</option>
    <option value="NRI">NRI</option>
    <option value="Home Maker">Home Maker</option>
    <option value="Govt Employee">Govt Employee</option>
    <option value="Retired">Retired</option>
    <option value="Buisness">Buisness</option>
    <option value="Coolie">Coolie</option>
    <option value="Farmer">Farmer</option>
    <option value="Other">Other</option>
</select>