{% load static %}

<footer class="d-none d-lg-block">
    <img class="fooo d-none d-lg-block" style="position:absolute; width: 100%;" src="{% static 'web/image/footer.png' %}" alt="">
    
    <div style="position: relative;" class="container" id="foote">
        <div class="row justify-content-center footer-down">
            <h3>Get started with the mobile app!</h3>
            <p>Find your perfect mate now faster and easier in our mobile app. Download free from play store or Apple Store.</p>
            <div class="play">
                <img src="{% static 'web/image/android.png' %}" alt="">
                <img src="{% static 'web/image/ios.png' %}" alt="">
            </div>
        </div>
       
    </div>
    <div class="container-fluid foo">
    <div class="row text-center">
        <div class="col-lg-3 col-6 footer-list align-self-center">
            <img class="" width="100%" src="{% static 'web/image/logor.png' %}" alt="logo">
        </div>
        <div class="col-lg-3 col-6 footer-list">
            <ul>
                <li> <h2>NAVIGATE</h2> </li>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">LOGIN</a></li>
                <li><a href="#">REGISTER</a></li>
                
            </ul>
        </div>
        <div class="col-lg-3 col-6 footer-list">
            <ul>
                <li> <h2>ASSISTANCE</h2> </li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">SUPPORT</a></li>
                <li><a href="#">TERMS AND CONDITIONS</a></li>
                <li><a href="#">PRIVACY POLICY</a></li>
                
            </ul>
        </div>
        <div class="col-lg-3 col-6 footer-list">
            <ul>
                <li> <h2>FOLLOW US</h2> </li>
                <li><a href="#">FACEBOOK</a></li>
                <li><a href="#">INSTAGRAM</a></li>
                <li><a href="#">TWITTER</a></li>
                
            </ul>
        </div>
    </div>

    <!-- <div class="row text-center pt-3 social">
        <div class="col-12"  id="footer">
            <ul class="d-flex">
                <li><i class="icofont-youtube"></i></li>
                <li><i class="icofont-twitter"></i></li>
                <li><i class="icofont-facebook"></i></li>
            </ul>
        </div>
    </div> -->

        <div class="row justify-content-center copy" >
            <p>© Copyright Nikah Malabar. All Rights Reserved</p>
            
        </div>

    </div>

</footer>