{% load static %}
<header id="header" class="fixed-top deaser">
  <div class="container d-flex align-items-center justify-content-between">

    <h1 class="logo"><a href="{% url 'web:home' %}"><img src="{% static 'web/image/logor.png' %}" alt=""></a></h1>

    <!-- <div class="form-group has-search m-0">
      <span class="icofont-search form-control-feedback"></span>
      <input type="text" class="form-control" placeholder="Search" id="searchbox">
    </div> -->
    <div class="d-none d-sm-blockk" id="imagecli">
      <span class="icofont-search form-control-feedback"></span>
    </div>
    <a id="usernameimage" class="d-lg-none" href="{% url 'web:myprofile' %}"></a>

    <nav class="nav-menu d-none d-lg-block iconn">
      <ul class="place-items-center">
        <li class="active"><a href="#"><i class="icofont-binoculars text-white mr-2"></i>Explore</a></li>
        <li><a href="#about"><i class="icofont-ui-text-chat mr-2"></i>Chat</a></li>

        <li><a href="/youlike"><span id="intr" class="ml-0 favv">0</span><i class="icofont-ui-love-add mr-2"></i>Interests</a></li>


        <li>
          <a id="usernamefield1" class="uder dropdown-toggle" data-toggle="dropdown" href="#features"></a>
          <ul class="dropdown-menu">
            <li> <a id="" href="{% url 'web:myprofile' %}">My Profile</a> </li>
            <li> <a id="" href="{% url 'web:delete' %}">Delete Account</a> </li>
            <li> <a id="logout" href="#">Logout</a> </li>
          </ul>
        </li>


      </ul>
    </nav><!-- .nav-menu -->


    <div class="position-fixed mob-hedr" id="mob-hedrr">

      <img width="40px" height="40px" src="{% static 'web/image/profile.jpg' %}" alt="">
      <span>Muhammed Niyas <i id="closed" style="font-weight: 600;" class="icofont-close-circled float-right"></i> </span>
      <ul>

        <li><a href="{% url 'web:myprofile' %}" class="link">My Profile<span class="float-right"><i class="icofont-arrow-right"></i></span> </a></li>
        <li><a href="{% url 'web:partnerpref' %}" class="link">Partner Preferences<span class="float-right"><i class="icofont-arrow-right"></i></span> </a></li>
        <li><a href="{% url 'web:addphotos' %}" class="link">Edit Photo<span class="float-right"><i class="icofont-arrow-right"></i></span> </a></li>
        <li><a href="{% url 'web:modify' %}" class="link">Advance Search<span class="float-right"><i class="icofont-arrow-right"></i></span> </a></li>
        <li><a href="#" class="link">Delete Account<span class="float-right"><i class="icofont-arrow-right"></i></span> </a></li>
       
        <li class="color-redd"><a href="#" class="link color-red">Logout<span class="float-right"><i class="icofont-power color-red"></i></span> </a></li>
        
      </ul>
    </div>




  </div>
</header><!-- End Header -->
  

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{% static 'web/js/loadheader.js' %}"></script>
<script src="{% static 'web/js/getprofiles.js' %}"></script>

<script>

  $(document).ready(function () {
    loadlikecount();
    $('#searchbox').keyup(function (e) {
      getdatas($('#searchbox').val());
    });

  });
</script>

<script>
  $("#imagecli").click(function(){
  $("#mob-hedrr").show();
});


$('#closed').on('click', function(){
  $("#mob-hedrr").hide();
})
// $("#show").click(function(){
//   $("p").show();
// });
</script>