{% load static %}
<div class="container-fluid d-none" id="chatnav" >
    <div class="row">
        <div class="col-sm-12">
            <nav class="nav-menu iconn">
                <ul class="plac">
                  <li><a href="{% url 'web:home' %}"><i class="icofont-binoculars mr-2"></i>Explore</a></li>
                  <li><a href="#about"><i class="icofont-ui-text-chat mr-2"></i>Chat</a></li>
                  <li class="active"><a href="#portfolio"><i class="icofont-ui-love-add mr-2"></i>Interests</a></li>
                  
                  

                  <li id="userna"><a onclick="logout()" href=""><i class="icofont-power ml-2"></i></a></li>
                </ul>
              </nav>
        </div>
    </div>
</div>