{% load static %}






<select id='workingas' class="form-control">


    <option value="Not Working">Not Working</option>
    <option value="Accountant">Accountant</option>
    <option value="CA">CA</option>
    <option value="BUMS">BUMS</option>
    <option value="Secretary">Secretary</option>
    <option value="Doctor">Doctor</option>
    <option value="Manager">Manager</option>
    <option value="Asst. Manager">Asst. Manager</option>
    <option value="Engineer">Engineer</option>
    <option value="Bank employee">Bank employee</option>
    <option value="PRO">PRO</option>
    <option value="Sales">Sales</option>
    <option value="Electrician">Electrician</option>
    <option value="Mechanic">Mechanic</option>
    <option value="Plumber">Plumber</option>
    <option value="Coolie">Coolie</option>
    <option value="Cashier">Cashier</option>
    <option value="Driver">Driver</option>
    <option value="Consultants">Consultants</option>
    <option value="Nurse">Nurse</option>
    <option value="Marketing Executive">Marketing Executive</option>
    <option value="HRM">HRM</option>
    <option value="Pharmacist">Pharmacist</option>
    <option value="Self Employed">Self Employed</option>
    <option value="Part-Time">Part-Time</option>
    <option value="Professor">Professor</option>
    <option value="Teacher">Teacher</option>

    <option value="Software Developer">Software Developer</option>
    <option value="Graphics Designer">Graphics Designer</option>
    <option value="Business">Business</option>
    <option value="Administrator">Administrator</option>
    <option value="Other">Other</option>
    

</select>